@import "tailwindcss";

/* Added smooth scrolling behavior for anchor links */
html {
  scroll-behavior: smooth;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: black;
  color: white;
}

:root {
  --border: 0 0% 89.2%;
  --radius: 0.5rem;
}

.dark {
  --border: 0 0% 14.9%;
}
